<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h1>配達報告</h1>
			<h3>持ち出し<%= @takeout.count %>件</h3>
			<h3>配達完了<%= @completes.count %>件</h3>
			<h3>戻り　　<%= @backs.count %>件</h3>
			<h3>残　　　<%= @yets.count  %>件</h3>
			<p class="not_takeout"><%= flash.now[:not_delivery] %></p>
			<%= form_for(@delivery, url: drivers_deliveries_path) do |f| %>
			<%= f.hidden_field :delivery_person_id, value: current_delivery_person.id %>
			<%= f.label :伝票番号を入力してください %><br>
			<%= f.text_field :package_id %>
			<div class="decision">
				<label class="decision-boton btn-success"><%= f.radio_button :status, :配達完了 , {:checked => true}  %>配達完了</label>
				<label class="decision-boton btn-danger"><%= f.radio_button :status, :不在  %> 不在</label>
			</div>
			<%= f.submit '配達状況を登録する', class: ' btn-primary delivery-button' %>
			<% end %>
		</div>
	</div>
</div>
