
<div class="container">
  <div class="row">
    <div class="col">
      <h2>ドライバー登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :顔写真 %><br />
          <%= f.attachment_field :face_photo %>
        </div>

        <div class="field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true%>
        </div>

        <div class="field">
          <%= f.label :ドライバー歴 %><br />
          <%= f.text_field :career, autofocus: true, autocomplete: "career" %>
        </div>

        <div class="field">
          <%= f.label :営業所コード %><br />
          <%= f.collection_select :sales_office_id, SalesOffice.all, :id, :id, :prompt => "選択してください"%>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード  %>
          <% if @minimum_password_length %>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "６桁以上で入力してください" %>
        </div>

        <div class="actions">
          <%= f.submit "登録" , class: 'btn btn-primary sign_up_botton' %>
        </div>
      <% end %>
    </div>
  </div>
</div>