
<div class="container">
	 <div class="row">
		<div class="col">
			<h1>日付変更依頼</h1>
			<p class="not_takeout"><%= flash.now[:not_takeout] %></p>
　　　　　　　<%= form_for(@change_date) do |f| %>
            <%= f.label :とりあえず荷物のIDで入力%><br>
			<%= f.text_field :package_id %>
			<%= f.date_field :delivery_date %>
			<%= f.collection_select :time_zone_id, TimeZone.all, :id, :time_zone, :prompt => "選択してください"%>
			<div><%= f.submit '登録', class: 'btn btn-primary submit_botton' %></div>
			<% end %>
		</div>
	</div>
</div>