
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="tabnav">
          <li><a href="#tab1">一覧</a></li>
          <li><a href="#tab2">変更依頼</a></li>
          <li><a href="#tab3">午前中</a></li>
          <li><a href="#tab4">14時〜16時</a></li>
          <li><a href="#tab5">16時〜18時</a></li>
          <li><a href="#tab6">18時〜20時</a></li>
          <li><a href="#tab7">19時〜21時</a></li>
      </ul>
      <div class="tabcontent">
          <div id="tab1"><%= render 'drivers/takeouts/takeout_all', takeouts: @takeouts  %></div>
          <div id="tab2"><%= render 'drivers/takeouts/change'  %></div>
          <div id="tab3"><%= render 'drivers/takeouts/gozen' , takeouts: @takeouts %></div>
          <div id="tab4"><%= render 'drivers/takeouts/14_16'  %></div>
          <div id="tab5"><%= render 'drivers/takeouts/16_18'  %></div>
          <div id="tab6"><%= render 'drivers/takeouts/18_20'  %></div>
          <div id="tab7"><%= render 'drivers/takeouts/19_21'  %></div>
      </div>
    </div>
  </div>
</div>
