
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2 class="main-title">持ち出し登録</h2>
			<p class="not_takeout"><%= flash.now[:not_takeout] %></p>
			<p class="takeout_complete"><%= flash.now[:takeout_complete] %></p>
		　　　　　　　<%= form_for(@takeout, url: drivers_takeouts_path) do |f| %>
		    <%= f.label :伝票番号を入力してください %><br>
			<%= f.text_field :package_id, placeholder:"半角数字で入力してください" %>
			<%= f.hidden_field :delivery_person_id, value: current_delivery_person.id %>
			<div><%= f.submit '登録', class: ' btn-primary delivery-button' %></div>
			<% end %>
		</div>
	</div>
</div>å