
<div class="container">
	 <div class="row">
		<div class="col">
			<h1>持ち出し登録</h1>
			<p class="not_takeout"><%= flash.now[:not_takeout] %></p>
　　　　　　　<%= form_for(@takeout, url: drivers_takeouts_path) do |f| %>
            <%= f.label :伝票番号 %><br>
			<%= f.text_field :package_id %>
			<%= f.hidden_field :delivery_person_id, value: current_delivery_person.id %>
			<div><%= f.submit '登録', class: 'btn btn-primary submit_botton' %></div>
			<% end %>
		</div>
	</div>
</div>