
<div class="container">
  <div class="row">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
      <h2>所属ドライバー一覧</h2>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <% @delivery_people.each do |f| %>
                <% delivery = Delivery.where(delivery_person_id: f.id) %>
                <td><%= attachment_image_tag f, :face_photo, :fill, 120, 120, format: 'jpeg' %></td>
                <td><p class="driver_name">名前　<%= f.name %></p>
                    <p class="driver_career">経歴　<%= f.career %>年目</p>
                    <p><i class="far fa-thumbs-up"></i></i>いいね　<%= f.favorites.count %>件
                       <i class="far fa-comment-dots comment-icon "></i> コメント<%= f.comments.count %>件</p>
                </td>
                <td><%= link_to "ドライバー詳細", admins_delivery_person_path(f.id), class:"btn btn-default btn-block " %>
                  <%= link_to "編集", edit_admins_delivery_person_path(f.id), class:"btn btn-default btn-block " %>
                  <%= link_to "削除（退職時）", admins_delivery_person_path(f.id), method: :delete ,class:"btn btn-default btn-block ", "data-confirm" => "本当に削除しますか？" %></td>
              </tr>
              <% end %>
          </tbody>
       </table>
    </div>
  </div>
</div>

