
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="sign_in_title">ログイン</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="">
              <%= f.label :メールアドレス %><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="">
              <%= f.label :パスワード %><br>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
            <div class="sign_in_botton">
              <%= f.submit "ログイン", class: 'btn btn-primary ' %>
            </div>
            <% end %>
      </div>
    </div>
</div>
