
<div class="container">
  <div class="row">
  	    <div class="col col-lg-2"></div>
		<div class="col col-lg-8">
		<h1>荷主登録</h1>
		<%= form_for(@shipper, url: admins_shippers_path) do |f| %>
			<table class="table table-borderless">
				<tbody>
					<tr>
						<th class="col-lg-2">荷主名</th>
						<td><%= f.text_field :shipper_name %></td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td><%= f.text_field :postcode %></td>
					</tr>
					<tr>
						<th>住所</th>
						<td><%= f.text_field :address %></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td><%= f.text_field :phone_number %></td>
					</tr>
				</tbody>
			</table>
			<%= f.submit '荷主を登録', class: 'btn btn-primary submit_botton' %>
		<% end %>
		</div>
  </div>
</div>