
<div class="container container-lg-12">
	<div class="row row-master">
		<div class="col col-lg-4"></div>
		<div class="col col-lg-4">
			<div class=" home_botton"><%= link_to "荷物登録", new_admins_package_path , class: 'btn btn-primary btn-lg btn-block' %></div>
			<div class=" home_botton"><%= link_to "荷物一覧", admins_packages_path , class: 'btn btn-primary btn-lg btn-block '%></div>
			<div class=" home_botton"><%= link_to "荷主登録", new_admins_shipper_path , class: 'btn btn-primary btn-lg btn-block '%></div>
			<div class=" home_botton"><%= link_to "品名登録", new_admins_product_name_path , class: 'btn btn-primary btn-lg btn-block ' %></div>
			<div class=" home_botton"><%= link_to "所属ドライバー一覧", admins_delivery_people_path , class: 'btn btn-primary btn-lg btn-block '%></div>
		</div>
		<div class="col col-lg-2"></div>
	</div>
</div>